!!! 5
%html
  %head
    %meta(charset="utf-8")
    %title CamJC
    %link(rel="stylesheet" href="css/screen.css")
    %link(rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:300,700")
    %meta(content="initial-scale = 1.0" name="viewport")
    %meta(name="description" content="CamJC, Web Designer/Developer from Australia")
  %body
    #hcard-Cameron-Chamberlain.vcard
      .logo
      %span.fn Cameron J Chamberlain
      .tel +61 0431 993 870
      %a.email{:href => "mailto:hi@camjc.com"} hi@camjc.com
      .role.hide Web Designer
      .adr.hide
        .country-name Australia
