!!! 5
%html
  %head
    %title CamJC
    %link(rel="stylesheet" href="css/screen.css")
    %link(rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:300,700")
  %body
    .contactinfo
      .logo
      .name
        Cameron J Chamberlain
      .details
        .phone
          +61 0431 993 870
        .email
          %a{:href => "mailto:hi@camjc.com"}
            hi@camjc.com
